<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ProxyUnsetter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <ProxyUnsetter.Properties.Settings>
      <setting name="NotifyOfProxySet" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UnsetProxyAutomatically" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CheckForNewReleaseWeekly" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IpWhitelist" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>172.16.101.14/255.255.254.0</string>
          </ArrayOfString>
        </value>
      </setting>
    </ProxyUnsetter.Properties.Settings>
  </userSettings>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
</configuration>